body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  display: grid;
  place-items: center;
}

div.label {
  background-color: white;
  border: 1px solid #888888;
  padding: 5px;
  border-radius: 3px;
  font-family: Arial, Helvetica, sans-serif;
}
